<div class="container">
  <h1 class="jumbotron">Minesweeper</h1>
  <table class="minefield">
    <tr *ngFor="let row of newMinefield.rows">
      <td *ngFor="let spot of row.spots" (click)="uncoverSpot(spot)">
        <!-- <img *ngIf="spot.isCovered" src="../assets/img/covered.png"> -->
        <!-- <img *ngIf="spot.isMine && !spot.isCovered" src="../assets/img/mine.png"> -->
        <!-- <img *ngIf="!spot.isCovered && !spot.isMine" src="../assets/img/empty.png"> -->
        <p *ngIf="!spot.isMine">{{spot.countMines}}</p>
        <img *ngIf="spot.isMine" src="../assets/img/mine.png">

        <!-- <p *ngIf="spot.isMine">M</p> -->
      </td>
    </tr>
  </table>
</div>
