.minefield {
  line-height:0;
  border-spacing:0;
}

.minefield td {
  padding: 0;
}

table {
  border: 5px ridge gray;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: gray;
  font-family: monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}